@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #FFF;
    position: relative;
}
a {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 15px;
}
img {
    max-width: 100%;
}
.top {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background-color: #38496d;
    z-index: 9999;
}
.top span {
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #38496d;
}
nav {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(56, 73, 109, .9);
    /*background-color: rgba(255, 255, 255, .5);*/
    display: none;
    text-align: center;
    padding-top: 100px;
    overflow-y: auto;
}
span[data-role="close_nav"] {
    position: absolute;
    z-index: 99999;
    top: 15px;
    right: 15px;
    font-size: 32px;
    display: inline-block;
    cursor: pointer;
    color: #333;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
span[data-role="close_nav"]:hover {
    color: #CCC;
}
/*nav ul {
    margin: 0px;
    padding: 0px;
}
nav ul > li > a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 0px;
    display: inline-block;
}
nav ul > li > a:hover {
    color: #CCC;
}*/
nav {
    overflow-y: auto;
    overflow-x: hidden;
}
.nav_over_lay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
	left: 0;
	top: 0;
}
nav ul {
    margin: 0 -290px 0 0;
    padding: 100px 0px 0px 0px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    max-width: 290px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
nav ul.active {
    margin-right: 0;
}
nav ul > li > a {
    display: block;
    width: 100%;
    padding: 15px;
    color: #38496d;
    font-size: 15px;
    border-bottom: 1px solid #a9a9a9;
}
nav ul > li:first-child > a {
    border-top: 1px solid #a9a9a9;
}
nav ul > li > a:hover {
    color: #FFF;
    background-color: #38496d;
    border-color: #38496d;
}
header {
    position: absolute;
    z-index: 999;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
    padding: 20px 0px;
}
header.inner {
    position: relative;
    margin-top: 0px;
}
.header_contact img {
    margin-right: 10px;
}
.header_contact p {
    margin: 0px;
}
.header_contact a {
    color: #000;
    font-size: 19px;
}
.header_contact a:hover {
    color: #38496d;
}
.nav_trigger {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #277538;
    color: #FFF;
    cursor: pointer;
    line-height: 54px;
    text-align: center;
    font-size: 33px;
}
.banner_wrap {
    position: relative;
}
/*.banner {
    position: relative;
    z-index: 99;
}*/
.bx-wrapper .bx-controls-direction a {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.skew_wrap {
    background-color: rgba(255, 255, 255, 0.77);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 25px;
}
.skew_wrap .container {
    position: relative;
    z-index: 99;
    padding: 30px 15px;
}
.skew {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 1920px solid #FFF;
    border-bottom: 0px solid transparent;
}
.what_we_provide_head {
    font-weight: bold;
    color: #38496d;
    margin: 40px 0px;
}
.what_we_provide_cols .col-lg-4 {
    border-right: 2px solid rgba(208, 208, 208, 0.4);
}
.what_we_provide_cols .row .col-lg-4:last-child {
    border-right: none;
}
.what_we_provide_cols .row:first-child .col-lg-4 {
    border-bottom: 2px solid rgba(208, 208, 208, 0.4);
}
.what_we_provide_col .ico {
    width: 94px;
    height: 94px;
    text-align: center;
    line-height: 94px;
    border-radius: 50%;
    border: 2px solid rgba(208, 208, 208, 0.7);
    margin: 0 auto;
}
.what_we_provide_col .ico img {
    display: inline-block;
}
.what_we_provide_col h4 {
    margin: 15px 0px;
}
.what_we_provide_col {
    padding-bottom: 30px;
}
.what_we_provide_cols .row:nth-child(2) .what_we_provide_col {
    padding-top: 30px;
}
.who_we_wrap {
    position: relative;
}
.who_we_head {
    font-weight: bold;
    color: #38496d;
}
.who_we_head span {
    font-size: 60px;
}
.mission_wrap {
    margin-top: 30px;
}
.mission_box {
    color: #FFF;
    background-color: #38496d;
    padding: 15px;
}
.mission_ico {
    margin-top: 34px;
}
.mission_ico img {
    max-width: 100%;
}
.mission_box h2 {
    margin-top: 0px;
}
.who_we_img {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
}
.product_wrap {
    position: relative;
    background: url("../images/product_bg.jpg") fixed;
    background-size: cover;
    overflow-x: hidden;
}
.triangle_rtl_down {
    position: relative;
    z-index: 99;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 1920px solid #FFF;
    border-bottom: 150px solid transparent;
}
.triangle_ltr_up {
    position: relative;
    z-index: 99;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 1920px solid #FFF;
    border-bottom: 0px solid transparent;
}
.product_tree {
    background: rgba(0, 0, 0, 0.75);
    margin: -150px 0px;
    padding: 90px 0px 50px 0px;
    position: relative;
    z-index: 9;
}
.product_tree_inner {
    background:  url("../images/product_tree.png") no-repeat top center;
    padding-bottom: 150px;
}
.hm_prod_col h3{
    color: #FFF;
    text-transform: uppercase;
}
.hm_prod_col p {
    color: #bababa;
    text-align: justify;
}
.hm_prod_col_left {
    margin-right: 160px;
}
.hm_prod_col_right {
    margin-left: 160px;
}
.hm_prod_img_right {
    text-align: right;
}
.hm_prod_col_left_1 {
    margin-top: 133px;
}
.hm_prod_col_left_2 {
    margin-top: 82px;
}
.hm_prod_col_right_1 {
    margin-top: 95px;
}
.hm_prod_col_right_2 {
    margin-top: 110px;
}
.our_brand_wrap {
    position: relative;
    margin-top: 40px;
}
.our_brand_wrap .bg_line_through {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 50%;
    margin-top: -2px;
    background-color: #b1b1b1;
}
.our_brand_inner {
    position: relative;
}
.our_brand_logo {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background-color: #FFF;
}
.our_brand_logo_1,
.our_brand_logo_2{
    margin-right: 70px;
}
.our_brand_span {
    position: relative;
    float: right;
}
.our_brand_span span {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #b1b1b1;
    color: #38496d;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    background-color: #FFF;
    margin-top: 14px;
}
footer {
    margin-top: 40px;
}
.footer_identity {
    background-color: #eeeeee;
    padding: 20px 0px;
}
.social {
    float: left;
    margin-top: 24px;
}
.social a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 21px;
    color: #FFF;
    border-radius: 50%;
}
.social a.fb {
    background-color: #3b5998;
}
.social a.tw {
    background-color: #0084b4;
}
.social a.gp {
    background-color: #d34836;
}
.social a.ln {
    background-color: #0077B5;
}
.social a:hover {
    opacity: 0.75;
}
.footer_logo {
    float: right;
}
.copy_right {
    padding: 10px 15px;
    background-color: #252525;
    color: #FFF;
}
.inner_page_header {
    background-size: cover;
    background-color: rgba(56, 73, 109, 0.8);
    color: #FFF;
    margin-bottom: 40px;
}
.inner_page_header .inner {
    background: url("../images/inner_page_header.png");
    padding: 50px 0px;
}
.inner_page_header h2 {
    margin: 0px;
    text-transform: uppercase;
}
.about_det h2 {
    margin-top: 0px;
    font-weight: bold;
}
.about_caption {
    color: #38496d;
}
.mission_vision {
    margin-top: 40px;
    background-color: #38496d;
    color: #FFF;
    padding: 15px;
}
.mission_vision h4 {
    margin-top: 0px;
}
.product_filter_btn_wrap {
    margin-bottom: 15px;
}
.product_list {
    margin: 0px -3px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.product_item {
    display: block;
    width: 25%;
    float: left;
    padding: 0px 3px;
    text-align: center;
    box-sizing: border-box;
}
.product_item .item {
    position: relative;
    box-shadow: 0px 0px 5px #CCC;
    margin-bottom: 6px;
    /*cursor: pointer;*/
}
.product_item .inner {
    padding: 15px;
}
.product_item h4 {
    color: #FFF;
    padding: 5px 10px;
    background-color: #38496d;
    position: relative;
    z-index: 99;
}
.product_list .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(56, 73, 109, 0.75) url("../images/zoom.png") no-repeat center;
    opacity: 0;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
/*.product_item .item:hover .overlay {
    opacity: 1;
}*/
[data-remodal-id="product_modal"] {
    padding: 0px;
}
.remodal_header {
    padding: 10px;
    border-bottom: 1px solid #CCC;
}
.remodal_header h4 {
    margin: 0px;
    text-align: center;
}
.remodal_body {
    padding: 15px;
}
.product_details {
    text-align: left;
}
.product_details ul li {
    list-style: square;
}
body.hash {
    background-color: #f9f9f9;
}
.contact_wrap {
    background-color: #FFF;
    padding: 15px 0px;
}
.contact_info h4 {
    margin-top: 0px;
}
.contact_links a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.contact_links a span {
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.contact_links a:hover {
    color: #38496d;
}
a.lazy:hover {
    color: #333;
    cursor: default;
}
.contact_form {
    padding: 0px 15px;
}
.contact_form h4 {
    margin-top: 0px;
    margin-bottom: 15px;
}
.form_block {
    margin-bottom: 15px;
}
.form_block input[type="text"],
.form_block input[type="email"] {
    display: block;
    width: 100%;
    border: 1px solid #CCC;
    padding: 7px;
    height: 45px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.form_block textarea {
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid #CCC;
    height: 120px;
    padding: 7px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.form_block input[type="text"]:focus,
.form_block input[type="email"]:focus,
.form_block textarea:focus {
    border-color: #277538;
}
.form_block button {
    display: inline-block;
    background-color: #38496d;
    color: #FFF;
    border: none;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.form_block button:hover {
    background-color: #1f2c47;
}
.map_wrapper {
    padding: 15px 15px 0px 15px;
}
#map{
    width: 100%;
    height: 400px;
}
.team_item p {
    color: #666;
}
.team_item .soc a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 21px;
    background-color: #38496d;
    color: #FFF;
    border-radius: 50%;
}
.team_item .soc a.fb:hover {
    background-color: #3b5998;
}
.team_item .soc a.tw:hover {
    background-color: #0084b4;
}
.team_item .soc a.gp:hover {
    background-color: #d34836;
}
.team_item .soc a.ln:hover {
    background-color: #0077B5;
}
.client_wrap .client_box_wrap {
    border-right: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.client_wrap .row .client_box_wrap:last-child {
    border-right: none;
}
.client_wrap .row:last-child .client_box_wrap {
    border-bottom: none;
}
.client_box {
    text-align: center;
    padding: 0px 15px;
    text-align: center;
    min-height: 150px;
    line-height: 150px;
}
.client_box img {
    display: inline-block;
    /*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!
    filter: grayscale(100%);*/
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.client_wrap .client_box_wrap:hover {
    background-color: #e9e9e9;
}
.client_wrap .client_box_wrap:hover img{
    /*-webkit-filter: none;
    filter: none;*/
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.power_brand_title {
    color: #38496d;
    margin: 70px auto 40px;
}
.career_box {
    background-color: #FFF;
    border-radius: 3px;
    border-left: 5px solid #277538;
    margin-bottom: 15px;
    padding: 15px;
}
.career_box h4 {
    margin-top: 0px;
    font-weight: bold;
}
.carrer_clear {
    margin-bottom: 5px;
}
.carrer_clear .title {
    float: left;
}
.carrer_clear .det {
    margin-left: 150px;
}
.job_desc {
    margin-top: 20px;
}
.job_desc h5 {
    font-weight: bold;
    margin-top: 0px;
}
.job_desc p {
    margin-bottom: 0px;
}
.career_cap h4 {
    margin-top: 0px;
}
.career_cap {
    margin-bottom: 30px;
}
.loader_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none;
}
.loader_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}
.contact_info {
    margin-top: 40px;
}
.contact_info_row {
    margin: 0px;
}
.team_mail {
    margin: 10px 0px;
}
.team_mail a {
    font-size: 16px;
    color: #333;
}
.team_mail a span {
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 3px;
    vertical-align: middle;
}
.team_mail a:hover {
    color: #38496d;
}
.team_item {
    border: 1px solid #c9c9c9;
    padding: 15px;
}
/* Media queries */
@media only screen and (min-width: 1200px) {
    .what_we_provide_col {
        min-height: 275px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .product_tree {
        padding: 100px 0px 0px 0px;
    }
    .what_we_provide_col {
        min-height: 300px;
    }
    .our_brand_logo_1,
    .our_brand_logo_2{
        margin-right: 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo img {
        max-width: 250px;
    }
    .skew_wrap .container {
        padding: 15px;
    }
    .product_tree {
        padding: 105px 0px 0px 0px;
    }
    .product_tree_inner {
        padding-bottom: 45px;
    }
    .hm_prod_col_right_1 {
        margin-top: 20px;
    }
    .hm_prod_col_left_1 {
        margin-top: 100px;
    }
    .hm_prod_col_left_2 {
        margin-top: 40px;
    }
    .who_we_img {
        max-width: 230px;
    }
    .product_item {
        width: 33.33333333%;
    }
    .product_filter_btn_wrap .btn {
        padding: 6px;
    }
    .what_we_provide_col {
        min-height: 345px;
    }
    .our_brand_logo_1,
    .our_brand_logo_2{
        margin-right: 10px;
    }
    .our_brand_logo {
        max-width: 150px;
    }
}
@media only screen and (max-width: 767px) {
    header {
        position: relative;
        margin-top: 0px;
    }
    .skew {
        display: none;
    }
    .skew_wrap {
        padding-bottom: 0;
        position: relative;
    }
    .what_we_provide_cols .col-lg-4 {
        border: none !important;
    }
    .product_tree {
        padding: 150px 0px 20px 0px;
    }
    .product_tree_inner {
        background: none;
        padding-bottom: 0px;
    }
    .hm_prod_col_left {
        margin-right: 0px;
    }
    .hm_prod_col_right {
        margin-left: 0px;
    }
    .hm_prod_col {
        margin: 40px 0px !important;
        text-align: center;
        border: 2px solid rgba(255, 255, 255,0.4);
        padding: 15px;
    }
    .hm_prod_img_right {
        text-align: center;
    }
    .bg_line_through {
        display: none;
    }
    .our_brand_logo {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        margin-bottom: 15px;
    }
    .our_brand_span {
        float: none;
        text-align: center;
    }
    .social {
        float: none;
        text-align: center;
        margin-top: 0px;
    }
    .footer_logo {
        float: none;
        text-align: center;
        margin-top: 25px;
    }
    .who_we_img {
        display: none;
    }
    .who_we_head {
        text-align: center;
    }
    .mission_ico {
        display: none;
    }
    .contact_info {
        padding: 0px 15px;
    }
    .about_det h2 {
        margin-top: 20px;
    }
    .team_item {
        max-width: 260px;
        margin: 0px auto 15px;
        text-align: center;
    }
    .client_wrap .client_box_wrap {
        border-right: none;
    }
    .client_wrap .row:last-child .client_box_wrap {
        border-bottom: 1px dashed #CCC;
    }
    .client_wrap .row:last-child .client_box_wrap:last-child {
        border-bottom: none;
    }
    .product_item {
        width: 100%;
        max-width: 400px;
        float: none;
        margin: 0px auto 15px;
    }
    .product_filter_btn_wrap {
        text-align: center;
    }
    .contact_info {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .contact_info_row {
        margin: 40px -15px 0px;
    }
    .product_filter_btn_wrap {
        text-align: center;
    }
    .product_filter_btn_wrap .btn-group .btn {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
    }
    .product_filter_btn_wrap .btn-group .btn:first-child {
        border-radius: 4px 4px 0px 0px !important;
    }
    .product_filter_btn_wrap .btn-group .btn:last-child {
        border-radius: 0px 0px 4px 4px !important;
    }
    nav ul > li > a {
        padding: 5px 15px;
    }
}
@media only screen and (max-width: 480px) {
    .top span {
        display: none;
    }
    .header_contact a {
        font-size: 14px;
    }
}



